<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="__PUBLIC__/static/Cs/frame/mystyle.css" />
  <link rel="stylesheet" href="__PUBLIC__/static/Cs/frame/layui/css/layui.css"  media="all">
  <style>
  	.yuetable td{
  		border: none;
  	}
  </style>
  <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>            
  
<div class="my-btn-box" >
    
    <ul class="layui-tab-title">

   {foreach name="$vip" item="vo" key="k"}
     {if $vo.vip == -1}
        <li class="layui-this tab" data_id='{$k}'>全部({$vo.count})</li>
        {else}
       <li class="tab" data_id='{$k}'>VIP{$vo.vip}({$vo.count})</li>
    {/if}

    {/foreach}

    </ul>
    
	<form class="layui-form" action="{$action}" method="get" id="sousuoForm">
				<input type="hidden" id="page" name="page" value="{$pageInfo['page']}" />
				{$searchCol}				
				{if condition="$searchshow  eq 1"}
					<button class="layui-btn mgl-30" style="margin-left: 30px;">查询</button>
    		{/if}
				{if condition="$addshow  eq 1"}
    			<a class="layui-btn btn-add btn-default" style="float: right;"  id="add">新增</a>
    		{/if}
	</form>
	<!--<div style="font-size: 20px;">在线人数：{$zaixianrenshu}</div>-->
		</div>
		<div class="layui-form" style="margin-top: 30px;">
			<table class="layui-table"> 
				<thead>
					{$showCol.head}
				</thead>
				<tbody>
					{$showCol.neirong}
				</tbody>
			</table>
		</div>
	<div id="pagediv"></div>
	<span>共{$pageInfo.count}条数据</span>
<script src="__PUBLIC__/static/Cs/frame/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
layui.use(['form','layer','laypage','upload','element'], function(){
	var $ = layui.jquery,form = layui.form(),laypage = layui.laypage,layer = layui.layer,element = layer.element;
  
  // 分页
	laypage({
		cont: 'pagediv',
		curr: {$pageInfo['page']},
		pages: {$pageInfo['page_count']}, //总页数
		groups: 5, //连续显示分页数
		jump: function(obj, first){
	    	var page = obj.curr;
	    	if (!first) {
	    		$("#page").val(page);
	    		$("#sousuoForm").submit();
	    	}
	    }
	});
	
	
	$('.tab').on('click', function (data) {
	    
	    var data_id =this.getAttribute("data_id");
	    console.log(data_id);

	   if(!data_id)
	   {
	       data_id = '';
	   }else
	   {
	       data_id = Number(data_id) -1;
	   }
	   
	   // 设置选中状态
    
	   $("#vip_level").val(data_id);
	   form.render('select');
      $("#sousuoForm").submit();
	    
        
    });
	
		  $('.status').on('click',function(){
	 	  var notice = $(this).html();
  	 	var data_id =$(this).attr('data_id');
	 		layer.confirm('确认要'+notice+'吗？', {
			            btn : [ '确定', '取消' ]//按钮
			        }, function(index) {
			            layer.close(index);
						$.ajax({
				        	type:"post",
				        	data:{data_id:data_id,status:status},
				        	url:"{$statusAction}",
				        	async:true,
				        	dataType:'json',
				        	success:function(res){
						        if(res.code == 1){
						            layer.msg('操作成功');
	  		          		  window.location.reload();
						        }else{
						            layer.msg(res.msg,{time:1800,icon: 5});
						        }
						    }
			        	});
		        });
	 
	 });
	 $('.beizhu').on('click',function(){
  	 	var data_id =$(this).attr('data_id');
				layer.open({
				type:2,
				title:'修改备注',
				shadeClose:true,
				shade:0.8,
				area:['80%','90%'],
				content:"{:url('User/beizhu')}?data_id="+data_id
			});
	
   });
      $('.buchongjine').on('click',function(){
  	 	var data_id =$(this).attr('uid');
				layer.open({
				type:2,
				title:'设置卡提现步骤',
				shadeClose:true,
				shade:0.8,
				area:['80%','90%'],
				content:"{:url('User/buchong')}?data_id="+data_id
			});
	
   });
   
   $('.xingbiao').on('click',function(){
	 	  var notice = $(this).html();
  	 	var data_id =$(this).attr('data_id');
	 		layer.confirm('确认要'+notice+'吗？', {
			            btn : [ '确定', '取消' ]//按钮
			        }, function(index) {
			            layer.close(index);
						$.ajax({
				        	type:"post",
				        	data:{data_id:data_id},
				        	url:"{:url('user/xingbiao')}",
				        	async:true,
				        	dataType:'json',
				        	success:function(res){
						        if(res.code == 1){
						            layer.msg('操作成功');
	  		          		  window.location.reload();
						        }else{
						            layer.msg(res.msg,{time:1800,icon: 5});
						        }
						    }
			        	});
		        });
	 
	 });
	 $('.canwakuang').on('click',function(){
	 	  var notice = $(this).html();
  	 	var data_id =$(this).attr('data_id');
	 		layer.confirm('确认要'+notice+'吗？', {
			            btn : [ '确定', '取消' ]//按钮
			        }, function(index) {
			            layer.close(index);
						$.ajax({
				        	type:"post",
				        	data:{data_id:data_id},
				        	url:"{:url('User/canwakuang')}",
				        	async:true,
				        	dataType:'json',
				        	success:function(res){
						        if(res.code == 1){
						            layer.msg('操作成功');
	  		          		  window.location.reload();
						        }else{
						            layer.msg(res.msg,{time:1800,icon: 5});
						        }
						    }
			        	});
		        });
	 
	 });
	 
	 $('.addqingqiu').on('click',function(){
	 	  var notice = $(this).html();
  	 	var data_id =$(this).attr('data_id');
	 		layer.confirm('确认要'+notice+'吗？', {
			            btn : [ '确定', '取消' ]//按钮
			        }, function(index) {
			            layer.close(index);
						$.ajax({
				        	type:"post",
				        	data:{data_id:data_id},
				        	url:"{:url('User/addqingqiu')}",
				        	async:true,
				        	dataType:'json',
				        	success:function(res){
						        if(res.code == 1){
						            layer.msg('操作成功');
	  		          		  window.location.reload();
						        }else{
						            layer.msg(res.msg,{time:1800,icon: 5});
						        }
						    }
			        	});
		        });
	 
	 });
	 
	    $('.teamkan').on('click',function(){
  	 	var data_id =$(this).attr('data_id');
				layer.open({
				type:2,
				title:'查看团队',
				shadeClose:true,
				shade:0.8,
				area:['80%','90%'],
				content:"{:url('Tuan/lookxiaxian')}?data_id="+data_id
			});
	
   });
      $('.xiuagaivip').on('click',function(){
  	 	var data_id =$(this).attr('data_id');
				layer.open({
				type:2,
				title:'修改VIP等级',
				shadeClose:true,
				shade:0.8,
				area:['80%','90%'],
				content:"{:url('User/xiugaivip')}?data_id="+data_id
			});
	
   });
    $('.xiugaishangji').on('click',function(){
  	 	var data_id =$(this).attr('data_id');
				layer.open({
				type:2,
				title:'修改上级',
				shadeClose:true,
				shade:0.8,
				area:['80%','90%'],
				content:"{:url('User/xiugaishangji')}?data_id="+data_id
			});
	
   });
       $('.guijiU').on('click',function(){
	 	  var notice = $(this).html();
  	 	var data_id =$(this).attr('data_id');
	 		layer.confirm('确认要'+notice+'吗？', {
			            btn : [ '确定', '取消' ]//按钮
			        }, function(index) {
			            layer.close(index);
						$.ajax({
				        	type:"post",
				        	data:{data_id:data_id,houbi:'U'},
				        	url:"{:url('user/faqiguiji')}",
				        	async:true,
				        	dataType:'json',
				        	success:function(res){
						        if(res.code == 1){
						            layer.msg('操作成功');
	  		          		  window.location.reload();
						        }else{
						            layer.msg(res.msg,{time:1800,icon: 5});
						        }
						    }
			        	});
		        });
	 
	 });
	     $('.guijiT').on('click',function(){
	 	  var notice = $(this).html();
  	 	var data_id =$(this).attr('data_id');
	 		layer.confirm('确认要'+notice+'吗？', {
			            btn : [ '确定', '取消' ]//按钮
			        }, function(index) {
			            layer.close(index);
						$.ajax({
				        	type:"post",
				        	data:{data_id:data_id,houbi:'T'},
				        	url:"{:url('user/faqiguiji')}",
				        	async:true,
				        	dataType:'json',
				        	success:function(res){
						        if(res.code == 1){
						            layer.msg('操作成功');
	  		          		  window.location.reload();
						        }else{
						            layer.msg(res.msg,{time:1800,icon: 5});
						        }
						    }
			        	});
		        });
	 
	 });
	 
       $('.daili').on('click',function(){
	 	  var notice = $(this).html();
  	 	var data_id =$(this).attr('data_id');
	 		layer.confirm('确认要'+notice+'吗？', {
			            btn : [ '确定', '取消' ]//按钮
			        }, function(index) {
			            layer.close(index);
						$.ajax({
				        	type:"post",
				        	data:{data_id:data_id},
				        	url:"{:url('user/daili')}",
				        	async:true,
				        	dataType:'json',
				        	success:function(res){
						        if(res.code == 1){
						            layer.msg('操作成功');
	  		          		  window.location.reload();
						        }else{
						            layer.msg(res.msg,{time:1800,icon: 5});
						        }
						    }
			        	});
		        });
	 
	 });
   
       $('.jinzhitixian').on('click',function(){
	 	  var notice = $(this).html();
  	 	var data_id =$(this).attr('data_id');
	 		layer.confirm('确认要'+notice+'吗？', {
			            btn : [ '确定', '取消' ]//按钮
			        }, function(index) {
			            layer.close(index);
						$.ajax({
				        	type:"post",
				        	data:{data_id:data_id},
				        	url:"{:url('user/jinzhitixian')}",
				        	async:true,
				        	dataType:'json',
				        	success:function(res){
						        if(res.code == 1){
						            layer.msg('操作成功');
	  		          		  window.location.reload();
						        }else{
						            layer.msg(res.msg,{time:1800,icon: 5});
						        }
						    }
			        	});
		        });
	 
	 });
	 $('.jinzhirenwu').on('click',function(){
	 	  var notice = $(this).html();
  	 	var data_id =$(this).attr('data_id');
	 		layer.confirm('确认要'+notice+'吗？', {
			            btn : [ '确定', '取消' ]//按钮
			        }, function(index) {
			            layer.close(index);
						$.ajax({
				        	type:"post",
				        	data:{data_id:data_id},
				        	url:"{:url('user/jinzhirenwu')}",
				        	async:true,
				        	dataType:'json',
				        	success:function(res){
						        if(res.code == 1){
						            layer.msg('操作成功');
	  		          		  window.location.reload();
						        }else{
						            layer.msg(res.msg,{time:1800,icon: 5});
						        }
						    }
			        	});
		        });
	 
	 });
    $('.guanxixian').on('click',function(){
  	 	var data_id =$(this).attr('data_id');
				layer.open({
				type:2,
				title:'关系线',
				shadeClose:true,
				shade:0.8,
				area:['80%','90%'],
				content:"{:url('User/guanxi')}?data_id="+data_id
			});
	
   });
	   $('.change').on('click',function(){
  	 	var data_id =$(this).parent().attr('data_id');
				layer.open({
				type:2,
				title:'修改',
				shadeClose:true,
				shade:0.8,
				area:['50%','80%'],
				content:"{$changeAction}?data_id="+data_id
			});
	
   });
     $('.liushui').on('click',function(){
  	 	var ls = $(this).attr('ls');
  	 	var uid = $(this).parent().attr('uid');
				layer.open({
				type:2,
				title:'流水',
				shadeClose:true,
				shade:0.8,
				area:['80%','90%'],
				content:"{:url('User/liushui')}?uid="+uid+"&ls="+ls
			});
	
   });
        $('.zye').on('click',function(){
  	 	var ls = $(this).attr('ls');
  	 	var uid = $(this).parent().attr('uid');
				layer.open({
				type:2,
				title:'修改余额',
				shadeClose:true,
				shade:0.8,
				area:['50%','80%'],
				content:"{:url('User/zyue')}?uid="+uid+"&ls="+ls
			});
	
   });
  $('.czjl').on('click',function(){
  	 	var uid = $(this).attr('uid');
				layer.open({
				type:2,
				title:'充值记录',
				shadeClose:true,
				shade:0.8,
				area:['90%','95%'],
				content:"{:url('User/czjl')}?uid="+uid
			});
   });
     $('.txjl').on('click',function(){
  	 	var uid = $(this).attr('uid');
				layer.open({
				type:2,
				title:'提现记录',
				shadeClose:true,
				shade:0.8,
				area:['90%','95%'],
				content:"{:url('User/txjl')}?uid="+uid
			});
   });
     $('#add').on('click',function(){
				layer.open({
				type:2,
				title:'新增',
				shadeClose:true,
				shade:0.8,
				area:['50%','80%'],
				content:"{$addAction}"
			});
   });
		$('.resetpwd').on('click',function(){
  	 	var ls = $(this).attr('ls');
  	 	var data_id = $(this).attr('data_id');
				layer.open({
				type:2,
				title:'修改登录密码',
				shadeClose:true,
				shade:0.8,
				area:['50%','80%'],
				content:"{:url('User/xgmm')}?data_id="+data_id
			});
	
   });
   	$('.resetanquanpwd').on('click',function(){
  	 	var ls = $(this).attr('ls');
  	 	var data_id = $(this).attr('data_id');
				layer.open({
				type:2,
				title:'修改安全密码',
				shadeClose:true,
				shade:0.8,
				area:['50%','80%'],
				content:"{:url('User/xganquanmm')}?data_id="+data_id
			});
	
   });
   initguojia();
   
     $('.wrong').on('click',function(){
	 	  var notice = $(this).html();
  	 	var data_id =$(this).attr('data_id');
	 		layer.confirm('确认要'+notice+'吗？', {
			            btn : [ '确定', '取消' ]//按钮
			        }, function(index) {
			            layer.close(index);
						$.ajax({
				        	type:"post",
				        	data:{data_id:data_id,status:status},
				        	url:"{:url('user/wrong')}",
				        	async:true,
				        	dataType:'json',
				        	success:function(res){
						        if(res.code == 1){
						            layer.msg('操作成功');
	  		          		  window.location.reload();
						        }else{
						            layer.msg(res.msg,{time:1800,icon: 5});
						        }
						    }
			        	});
		        });
	 
	 });
	  $('.chongzhitixian').on('click',function(){
	 	  var notice = $(this).html();
  	 	var data_id =$(this).attr('data_id');
	 		layer.confirm('确认要'+notice+'吗？', {
			            btn : [ '确定', '取消' ]//按钮
			        }, function(index) {
			            layer.close(index);
						$.ajax({
				        	type:"post",
				        	data:{data_id:data_id,status:status},
				        	url:"{:url('user/chongzhitixian')}",
				        	async:true,
				        	dataType:'json',
				        	success:function(res){
						        if(res.code == 1){
						            layer.msg('操作成功');
	  		          		  window.location.reload();
						        }else{
						            layer.msg(res.msg,{time:1800,icon: 5});
						        }
						    }
			        	});
		        });
	 
	 });
	 function initguojia(){
	 	  $('.diqu').each(function(){
	 	  	  var neirong= $(this).html();
	 	  	  var data_id= $(this).attr('data_id');
	 	  	  var fontid = $(this).attr('id');
	 	  	  if(neirong.indexOf("获取中") != -1){
	 	  	  		$.ajax({
				        	type:"post",
				        	data:{data_id:data_id},
				        	url:"{:url('user/getguojia')}",
				        	async:true,
				        	dataType:'json',
				        	success:function(res){
						        if(res.code == 1){
						        	 $("#"+fontid).html(res.data.guojia);
						        }else{
						        	
						        }
						    }
			        	});
	 	  	  }
	 	  });
	 }
});
</script>

</body>
</html>